.content{
  display: flex;
  /* width:100vw; */
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin:10px; */
  /* padding:5px; */
}
.mycard{
  width:30%;
  margin:10px;
}
.mybutton{
  width:95% !important;
  background-color: tomato !important;
}
.appbar .mytoolbar{ 
  display: flex;
  justify-content: space-between;
  color:white;
}
.mylink{
  text-decoration: none;
  color: white;
}